<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SisPet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8" size-xl="6">
    <ion-list [inset]="true">
      
<ion-item routerLink="/Cadastrar Animal>
  <ion-label>Cadastrar Animal</ion-label>
  <ion-icon slot="end"name=chevron-forward-outline">
</ion-item>

<ion-item routerLink="/Visualizar Animal">
  <ion-label>Visualizar Animal</ion-label>
  <ion-icon slot="end"name=chevron-forward-outline"></ion-icon>
</ion-item>

<ion-item routerLink="/Consultar Animal">
  <ion-label>Consultar Animal</ion-label>
  <ion-icon slot="end"name=chevron-forward-outline"></ion-icon>
</ion-item>

<ion-item routerLink="/Remover Animal">
  <ion-label>Remover Animal</ion-label>
  <ion-icon slot="end"name=chevron-forward-outline"></ion-icon>
</ion-item>

<ion-item routerLink="/Atualizar Animal">
  <ion-label>Atualizar Animal</ion-label>
  <ion-icon slot="end"name=chevron-forward-outline"></ion-icon>
</ion-item>


    </ion-list>
  </ion-col>
  </ion-row>
</ion-content>
